In [1]:
from nba_api.stats.endpoints import PlayerGameLog

In [7]:
player_id=203999
pgl = PlayerGameLog(player_id=player_id).get_data_frames()[0][0:10]
pgl

  SEASON_ID  Player_ID     Game_ID  ... PTS PLUS_MINUS VIDEO_AVAILABLE
0     22023     203999  0022301193  ...  15         19               1
1     22023     203999  0022301180  ...  22         -1               1
2     22023     203999  0022301164  ...  41          6               1
3     22023     203999  0022301154  ...  28         23               1
4     22023     203999  0022301130  ...  19         19               1
5     22023     203999  0022301114  ...  36         12               1
6     22023     203999  0022301099  ...  42          5               1
7     22023     203999  0022301077  ...  26         37               1
8     22023     203999  0022301071  ...  32         -9               1
9     22023     203999  0022301059  ...  22          2               1

[10 rows x 27 columns]